.main-body {
    display: flex;
    justify-content: center;
    position: relative;
}

.grid-box {
    position: absolute
}

.grid-row {
    display: flex;
    justify-content: center;
    background-color: black;
}

.grid-element {
    background-color: black;
    /*border: 1px solid black;
    border-radius: 2px;*/
    margin: 0;
}

.food {
    background-color: rgb(116, 215, 35);
    background-image: url("../../../assets/watermelon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.wall {
    background-color: brown;
    background-image: url("../../../assets/wall_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.snakeBody {
    background-color: yellow;
    background-image: url("../../../assets/snake_body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35%;
}

.snakeHead {
    background-color: rgb(143, 143, 29);
    background-image: url("../../../assets/snake_head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30%;
}

.game-over-box {
    width: 300px;
    height: 150px;
    z-index: 10;
    margin-top: 20%;
    background-color: rgba(39, 36, 36, 0.363);
    color: white;
}