<app-top-nav></app-top-nav>
<!-- <button mat-raised-button color="accent">Accent</button> -->

<div>
    <div *ngFor="let i of height_iterator" class="grid-row">
        <div *ngFor="let j of width_iterator; let rm = index" 
            class="grid-element" 
            [ngStyle]="{'width': gridElementSize+'px', 'height': gridElementSize+'px'}"
            [ngClass]="[i+'_'+j]"
            [ngClass]="isSnakeBody(j, i) ? 'snake': ''"
            [ngClass]="isFood(j, i)? 'food' : ''"></div> 
    </div>
</div>

<div>
    <div class="d-flex justify-content-center mb-2">
        <button mat-raised-button color="accent" *ngIf="isGameOver" (click)="startGame()">Start</button>
        <button mat-raised-button color="accent" *ngIf="!isGameOver && isGameRunning" (click)="pauseGame()">Pause</button>
        <button mat-raised-button color="accent" *ngIf="!isGameOver && !isGameRunning" (click)="resumeGame()">Resume</button>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <button mat-raised-button color="accent" (click)="changeInputDirection('up')">Up</button>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <button mat-raised-button color="accent" (click)="changeInputDirection('left')">Left</button>
        <button mat-raised-button color="accent" (click)="changeInputDirection('right')">Right</button>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="accent" (click)="changeInputDirection('down')">Down</button>
    </div>
</div>
