.grid-row {
    display: flex;
    justify-content: center;
}

.grid-element {
    background-color: red;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0;
}

.snake {
    background-color: yellow;
}